<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAimbsu432pCohYhdnyQQre9puHpeqX3eg</string>
	<key>GCM_SENDER_ID</key>
	<string>488231941036</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>triathlon.Triathlon</string>
	<key>PROJECT_ID</key>
	<string>tristyle-ac9c6</string>
	<key>STORAGE_BUCKET</key>
	<string>tristyle-ac9c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:488231941036:ios:0031d712426a8894ba0009</string>
</dict>
</plist>